.sec_bottom  .el-input input{
    display: block;
}
.head{
    height: 30px;
  }
.sec_con li{
    line-height: 1em;
    margin: 20px 0;
  }
  .sec_con .con{
    height: 30px;
    margin-left: 10px;
  }
  .sec_con .isMy .con{
    margin-left:0;
    margin-right: 10px;
  }
  .sec_con .context{
    width: 70%;
    text-align: left;
    margin-left: 10px;
    padding:0 10px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
  }
  .sec_con .isMy .context{
    text-align: right;
    margin-left:0;
    margin-right: 10px;
  }
  .timer{
    line-height: 1em;
    display: inline-block;
    font-size: 12px;
    padding: .2em 1em;
    border-radius: 3px;
    margin-bottom: 2em;
    background-color: rgba(100,100,100, .3);
    color: #fff;
  }


    
  .hover000{
    background-color:rgba(0,0,0, 0);
  }
  .hover000:hover{
    background-color:rgba(0,0,0, 0.03);
  }
  aside .fa_button{
    padding: 5px 8px;
  }

  .jian{
    top:0;bottom:0;left:0;right:0;
    opacity: 0;
    font-size: 1.5em;
    color: #fff;
    background-color: rgba(0,0,0,0);
  }
  .jianParent:hover .jian{
    opacity: 1;
    background-color: rgba(0,0,0,.3);

  }
  .na_more .el-dropdown{
    display: block;
  }
  .na_groupSure{
    padding-top: 10px;
    left:0;right:0;
    text-align: center;
    line-height: 1em;
    bottom:0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #ddd 100%, rgba(0,0,0,0) 100%);
  }